table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #050505;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.formato {
  
  padding: 8px;
  
}
.radio {
  margin-right: 10px;
  padding-top: 10px;
}